<header class="header">
    <nav class="navbar">
<!--      Inspired by https://gitlab.com/antora/docs.antora.org/-/blob/main/supplemental-ui/partials/header-content.hbs?ref_type=heads-->
    <div class="navbar-brand">
      <div class="navbar-item">
        <a href="index.html">{{site.title}}</a>
        <span class="separator">//</span>
        <a href="{{or site.url (or siteRootUrl siteRootPath)}}">Docs</a>
      </div>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
    </div>
  </nav>
</header>
